.product-details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 50px;
    align-items: center; 
  }
  
  .product-images {
    flex: 1;
    min-width: 250px;
    
  }
  
  .main-image {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
  }
  
  .product-info {
    flex: 1;
    min-width: 250px;
    padding-top: 45px;
  }
  
  .product-info h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .price {
    font-size: 1.5rem;
    color: green;
  }
  
  .old-price {
    text-decoration: line-through;
    color: gray;
    margin-bottom: 1rem;
  }
  
  .quantity-selector {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 1rem 0;
  }
  
  .quantity-selector button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }
  
  .add-to-cart {
    padding: 0.7rem 1.5rem;
    background-color: #f95b72;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .add-to-cart:hover {
    background-color: #060102;
  }
  
  .product-description {
    margin-top: 1.5rem;
  }
  .back-button {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #ff7f7f;
    color: #ff7f7f;
    padding: 6px 14px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 1rem;
    transition: all 0.2s ease;
    text-align: center;
    max-width: fit-content;
  
  }
  
  .back-button:hover {
    background-color: #ff7f7f;
    color: white;
  }
  

  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
  }
  

  